<div class="my-3">
  <%= link_to 'ログアウト', logout_path, data: {turbo_method: :delete, turbo_confirm: 'ログアウトしますか？'}, class: 'btn btn-outline-danger' %>
</div>

<%= form_with model: [:admin, @employee], local: true, html: { class: 'row g-3 align-items-center' } do |f| %>
  <%# 従業員IDの表示: 新規作成時には非表示、編集時には表示 %>
  <% if @employee.persisted? %>
    <div class="row mb-3">
      <div class="col-sm-2">
        <%= f.label :id, '従業員ID', class: 'col-form-label' %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :id, class: 'form-control', readonly: true %>
      </div>
    </div>
  <% end %>

  <%# 名前の実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :full_name, required_field_label('名前'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :full_name, class: 'form-control', placeholder: '例)山田 太郎  半角スペースあり' %>
    </div>
    <div class="col-sm-2">
      <%= link_to '検索', admin_employees_path, class: 'btn btn-secondary btn-block' %>
    </div>
  </div>

  <%# カナ名の実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :kana_name, required_field_label('名前カナ'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :kana_name, class: 'form-control', placeholder: '例)ヤマダ タロウ  半角スペースあり' %>
    </div>
  </div>

  <%# ログインIDの実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :log_in_id, required_field_label('ログインID'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :log_in_id, class: 'form-control', placeholder: 'ログインIDを入力' %>
    </div>
  </div>

  <%# メールアドレスの実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :email, required_field_label('メールアドレス'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレスを入力' %>
    </div>
  </div>

  <%# 部署の実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :department_id, required_field_label('部署'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.select :department_id, Department.all.map { |d| [d.name, d.id] }, { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>

  <%# 役職の実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :position, required_field_label('役職'), class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.select :position, positions_for_select, { include_blank: true }, { class: 'form-control' } %>
    </div>
  </div>

  <%# 上司の実装 %>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= f.label :boss_id, '上司', class: 'col-form-label' %>
    </div>
    <div class="col-sm-8">
      <%= f.select :boss_id, Employee.supervisors.map { |s| [s.full_name, s.id] }, { include_blank: true }, { class: 'form-control' } %>
    </div>
    <div class="col-sm-2">
      <%= link_to '検索', admin_employees_path, class: 'btn btn-secondary' %>
    </div>
  </div>


  <%# 役割（Role）の実装（チェックボックス） %>
  <div class="row">
    <div class="col-sm-2">
      <%= f.label :role_ids, '権限', class: 'col-form-label' %>
    </div>
    <div class="col-sm-10">
      <%= f.collection_check_boxes :role_ids, Role.all, :id, :name, include_hidden: false do |b| %>
        <div class="form-check form-check-inline">
          <%= b.check_box class: 'form-check-input' %>
          <%= b.label(class: 'form-check-label') { t("enums.role.name.#{b.text}") } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <% if @employee.new_record? %>
      <!-- 新規登録時のパスワードフィールド -->
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :password, 'パスワード', class: 'col-form-label' %>
          <%= f.password_field :password, id: 'new-password-field', class: 'form-control', placeholder: 'パスワードを入力' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード(確認用)', class: 'col-form-label' %>
          <%= f.password_field :password_confirmation, id: 'new-password-confirmation-field', class: 'form-control', placeholder: 'パスワードを再入力' %>
        </div>
      </div>
    <% else %>
      <!-- パスワード更新ボタン -->
      <div class="col-md-2 align-self-end">
        <%= button_tag 'パスワードを更新する', id: 'update-password-button', type: 'button', class: 'btn btn-outline-success h-100', data: { bs_toggle: "collapse", bs_target: "#new-password-fields" } %>
      </div>

      <!-- 更新時のパスワードフィールド（コラプス） -->
      <div class="col-md-6">
        <div id="new-password-fields" class="collapse">
          <div class="form-group">
            <%= f.label :password, '新パスワード', class: 'col-form-label' %>
            <%= f.password_field :password, id: 'update-password-field', class: 'form-control', placeholder: '新しいパスワードを入力' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, '新パスワードの確認', class: 'control-label' %>
            <%= f.password_field :password_confirmation, id: 'update-password-confirmation-field', class: 'form-control', placeholder: '新しいパスワードを再入力' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%# 登録ボタンの実装 %>
  <div class="row mb-3">
    <div class="col-12">
      <% if @employee.new_record? %>
        <%= f.submit '登録する', class: 'btn btn-outline-info me-2' %>
      <% else %>
        <%= f.submit '更新する', class: 'btn btn-outline-info me-2' %>
        <%= link_to '削除(無効化)する', [:admin, @employee], method: :delete, data: {turbo_method: :delete, turbo_confirm: '従業員情報を無効化しますか？'}, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to 'クリア', '#', class: 'btn btn-secondary', data: { action: "click->form#reset" } %>
    </div>
  </div>
<% end %>

<% if employee.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">フォームの送信に問題があります:</h4>
    <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
