<% if employee.errors.present? %>
  <ul id="error_explanation">
    <% employee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>

<%= form_with model: [:admin, @employee], local: true do |f| %>
  <div class="form-group">
    <%= f.label :staff_number, '社員番号' %>
    <%= f.text_field :staff_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :full_name, '名前' %>
    <%= f.text_field :full_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :kana_name, '名前(カナ)' %>
    <%= f.text_field :kana_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :log_in_id, 'ログインID' %>
    <%= f.text_field :log_in_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :branch_id, '所属' %>
    <%= f.select :branch_id, Branch.all.map { |b| [b.name, b.id] }, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :department_id, '部署' %>
    <%= f.select :department_id, Department.all.map { |d| [d.name, d.id] }, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <%# application_helperにpositions_for_selectメソッドを追記 %>
  <div class="form-group">
    <%= f.label :position, '役職' %>
    <%= f.select :position, positions_for_select, { include_blank: true }, { class: 'form-control' } %>
  </div>

<div class="form-group">
    <%= f.label :boss_id, '上司' %>
    <%= f.select :boss_id, @supervisors.map { |s| [s.full_name, s.id] }, { include_blank: true}, { class: 'form-control'} %>
</div>

  <div class="form-check">
    <%= f.label :admin, 'form-check-label' do %>
      <%= f.check_box :admin, { class: 'form-check-input' }, "admin", "general" %>
      管理者権限
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード(確認)' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit '登録する', class: 'btn btn-primary' %>
<% end %>
