<h1>従業員一覧</h1>

<%= link_to '戻る', root_path, class: 'btn btn-outline-secondary' %>

<%= search_form_for @q, url: admin_employees_path, html: { data: { controller: "search", action: "input->search#submit" } } do |f| %>
  <div class="row g3 mb-3">
    <div class="col-4 col-xl-2">
      <%#= f.label :full_name_cont, '名前検索', class: 'form-label fw-bold' %>
      <%#= f.search_field :full_name_cont, class: 'form-control' %>

      <%= f.label :name_with_kana_cont, '名前検索', class: 'form-label fw-bold' %>
      <%= f.search_field :name_with_kana_cont, class: 'form-control' %>
    </div>
    
    <%# コメントアウトしている部分は、役職検索の実装 %>
    <% if false %>
      <div class="col-4 col-xl-2">
        <%= f.label :position_eq, '役職', class: 'form-label fw-bold' %>
        <%= f.select :position_eq, Employee.positions.map { |k, v| [Employee.positions_i18n[k], v] }, { include_blank: t('defaults.選択なし') }, class: 'form-control' %>
      </div> 
    <% end %>

    <div class="col-4 col-xl-2">
      <%= f.label :branch_id_eq, '所属', class: 'form-label fw-bold' %>
      <%= f.collection_select :branch_id_eq, Branch.all, :id, :name, { include_blank: '選択なし' }, class: 'form-control' %>
    </div>
    <div class="col-4 col-xl-2">
      <%= f.label :department_id_eq, '部署', class: 'form-label fw-bold' %>
      <%= f.collection_select :department_id_eq, Department.all, :id, :name, { include_blank: '選択なし' }, class: 'form-control' %>
    </div>
  </div>
  <div>
    <%if false%>
      <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
        <i class="fas fa-search"></i>
        <%= t('defaults.検索') %>
      <% end %>
    <% end %>
    <%= link_to "リセット", admin_employees_path(@employees), class: "btn btn-outline-warning" %>
  </div>
<% end %>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= '選択' %></th>
        <th><%= Employee.human_attribute_name(:staff_number) %></th>
        <th><%= Employee.human_attribute_name(:full_name) %></th>
        <th><%= Employee.human_attribute_name(:branch_id) %></th>
        <th><%= Employee.human_attribute_name(:department_id)%></th>
        <th><%= Employee.human_attribute_name(:boss_id) %></th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to '選択', edit_admin_employee_path(employee) %></td>
          <td><%= employee.id %></td>
          <td><%= employee.full_name %></td>
          <td><%= employee.branch ? employee.branch.name : '支店確認中' %></td>
          <td><%= employee.department ? employee.department.name : '部署確認中' %></td>
          
          <% if false %> 
            <td><%= employee.position ? t("activerecord.attributes.employee.positions.#{employee.position}") : '役職確認中'%></td> 
          <% end %>
          
          <td><%= employee.boss ? employee.boss.full_name : '上司なし' %></td>

          <% if false %>
            <td><%= employee.admin? ? 'あり' : 'なし' %></td>
            <td><%= l employee.created_at %></td>
            <td><%= l employee.updated_at %></td>
          <% end %>

          <% if false %>
            <td>
              <%= link_to '編集', edit_admin_employee_path(employee), class: 'btn btn-skyblue mr-3' %>
              <%= link_to '削除', [:admin, employee], method: :delete, data: {turbo_method: :delete, turbo_confirm: '削除しますか？'}, class: 'btn btn-danger' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
