<div class="container mt-5 home_buttons">
  <div class="btn-custom">
    <%= link_to '従業員一覧', admin_employees_path, class: "btn btn-aqua btn-lg p-3" %>
  </div>
  <% if current_employee.admin? %>
    <div class="btn-custom">
      <%= link_to '従業員登録', new_admin_employee_path, class: "btn btn-aqua btn-lg p-3" %>
    </div>
  <% end %>
  <div class="btn-custom">
    <%= link_to '商品登録', "#", class: "btn btn-aqua btn-lg p-3" %>
  </div>
  <div class="btn-custom">
    <%= link_to '販売実績', "#", class: "btn btn-aqua btn-lg p-3" %>
  </div>
  <div class="btn-custom">
    <%= link_to 'ログアウト', logout_path, data: {turbo_method: :delete, turbo_confirm: 'ログアウトしますか？'}, class: 'btn btn-aqua btn-lg p-3' %>
  </div>
</div>
