<!DOCTYPE html>
<html>
  <head>
    <title>AnisysWebapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="custom-header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AnisysWebapp</a>
        </div>
      </nav>
    </header>
    
    <%= yield %>

    <footer class="custom-footer mt-4">
      <div class="container text-center py-3">
        &copy; <%= Time.zone.now.year %> AnisysWebapp. All rights reserved.
      </div>
    </footer> 
  </body>
</html>
