<!DOCTYPE html>
<html>
  <head>
    <title>AnisysWebapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="custom-header">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AnisysWebapp</a>
          <div class="navbar-nav ml-auto">
            <% if current_employee %>
              <!-- 従業員がログインしている場合 -->
              <%= link_to 'ログアウト', logout_path, data: {turbo_method: :delete, turbo_confirm: 'ログアウトしますか？'}, class: 'nav-link' %>
              <% if current_employee.has_role?('sysadmin') %>
                <!-- システム管理者がログインしている場合 -->
                <%= link_to '従業員管理', admin_employees_path, class: 'nav-link' %>
              <% end %>
            <% else %>
              <!-- 従業員がログインしていない場合 -->
              <%= link_to 'ログイン', login_path, class: 'nav-link' %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
    <footer class="custom-footer mt-4">
      <div class="container text-center py-3">
        &copy; <%= Time.zone.now.year %> AnisysWebapp. All rights reserved.
      </div>
    </footer> 
  </body>
</html>
